@use '../base/variables';
@use '../base/typography';

.button {
    @include typography.body-md;
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    text-transform: uppercase;
    white-space: nowrap;
    &--primary {
        background-color: variables.$cta-primary-default;
        color: variables.$text-primary-invert;
        &:hover {
            background-color: variables.$cta-primary-hover;
        }
    }
    &--outlined {
        border: 1px solid variables.$cta-primary-default;
        color: variables.$text-primary;
        &:hover {
            background-color: variables.$cta-primary-default;
            color: variables.$text-primary-invert;
        }
    }
    &--link {
        &:hover {
            background-color: variables.$cta-primary-default;
        }
    }
    &--link-invert {
        color: variables.$text-primary-invert;
        &:hover {
            background-color: variables.$cta-primary-default;
        }
    }
}

.button-icon {
    border-radius: 12px;
    text-transform: uppercase;
    display: flex;
    flex-shrink: 0;
    &--default {
        padding: 12px;
    }
    &--large {
        padding: 16px;
    }
    &--filled {
        background-color: variables.$cta-primary-default;
    }
    &--outlined {
        border: 1px solid variables.$cta-primary-default;
    }
    &--link {
        &:hover {
            background-color: variables.$bg-tone-primary;
        }
    }
}