<div class="cta-banner px-3 py-2 flex flex-wrap w-fit items-center gap-4 rounded-2xl">
    <p class="body-sm">Transformer ma routine</p>
    <a href="#" class="button button--primary">
        Décourir le produit
    </a>
</div>