<!-- htmlhint-disable IMG_NOT_EMPTY -->
<div class="h-screen p-8 flex items-end relative">
    <div class="hero-content flex flex-col gap-4 w-full lg:w-[60%] z-10">
        <p class="body-sm text-primary-invert">
            {{ section.settings.subtitle | default: 'Nettoyez vos pinceaux de maquillages sans efforts' }}
        </p>
        <h1 class="heading-xl text-primary-invert">
            {{ section.settings.title | default: 'Votre skincare commence par des pinceaux propres' }}
        </h1>
        {% render 'cta-banner' %}
    </div>
    <div class="absolute inset-0 bg-black/50 -z-10"></div>
   {% if section.settings.background_image %}
        <img class="absolute -z-20 top-0 left-0 w-full h-full object-cover"
             src="{{ section.settings.background_image | image_url: width: 1920 }}"
             alt="{{ section.settings.background_image.alt | default: section.settings.title }}"
             style="width:100%;height:100%;"
             width="1920" height="1080">
    {% else %}
        <!-- Image par défaut si aucune image n'est sélectionnée -->
        <div class="absolute -z-20 top-0 left-0 w-full h-full bg-gradient-to-br from-gray-400 to-gray-600"></div>
    {% endif %}
</div>

{% schema %}
{
  "name": "Hero Section",
  "class": "hero-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Titre principal",
      "default": "Votre skincare commence par des pinceaux propres"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Sous-titre",
      "default": "Nettoyez vos pinceaux de maquillages sans efforts"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Image de fond",
      "info": "Taille recommandée : 1920x1080px"
    }
  ],
  "presets": [
    {
      "name": "Hero Section",
      "category": "Image"
    }
  ]
}
{% endschema %}