// Backgrounds
$bg-primary:         #f7f7f7;
$bg-secondary:       #393126;
$bg-tertiary:        #ede5da;
$bg-warning:         #fff9e9;
$bg-success:         #c8f0dc;
$bg-error:           #fdeff5;
$bg-info:            #f3f9ff;
$bg-tone-primary:    #ffe7dc;

// Text
$text-primary:           #393126;
$text-secondary:         #777572;
$text-primary-invert:    #f2efea;
$text-secondary-invert:  #c4bfb6;
$text-warning:           #867330;
$text-error:             #ab2f4a;
$text-success:           #2d543c;
$text-info:              #2f7fab;
$text-cta:               #212121;

// Call-to-action (CTA)
$cta-primary-default:   #212121;
$cta-primary-hover:     #e34700;
$cta-secondary-default: #2b2a29;
$cta-secondary-hover:   #604633;

// Borders
$border-default: #d8d2c8;
$border-active:  #212121;

// Icons
$icon-primary:    #777572;
$icon-secondary:  #a3b49c;
$icon-invert:     #f2efea;
$icon-cta:        #212121;

:root {
  --icon-invert: #{$icon-invert};
}